* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  gap: 12px;
}
nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}
/* Navbar Link Styling */
nav a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 5px 0;
}

/* Underline Animation */
nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: #4db8ff;
  transition: 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  text-align: center;
}
.hero a {
  margin-top: 15px;
}

.hero h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background: #38bdf8;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-5px);
}

.section {
  padding: 5rem 2rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 2rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-links a {
  margin: 0 1rem;
  color: #38bdf8;
  text-decoration: none;
}

footer {
  padding: 2rem;
  text-align: center;
  background: #020617;
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project-links {
  display: flex;
  gap: 15px;   /* yaha se gap control hoga */
  justify-content: center;
  margin-top: 15px;
}
.btn-small {
    display: inline-block;
    padding: 8px 14px;
    margin: 5px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-small:hover {
    transform: translateY(-3px);
}

.btn-small.outline {
    background: transparent;
    border: 2px solid #38bdf8;
    color: #38bdf8;
}

.btn-small.outline:hover {
    background: #38bdf8;
    color: black;

}
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .project-links {
    flex-direction: column;
    gap: 10px;
  }
}

